.heading_class{
    font-size: 23px;
    width: 100%;
    margin: 0px;

}

.instrucion_class{
    font-size: 15px;
    color: aqua;

}

body{
    background-size: cover;
}

.speed_class{
    float: left;
}

.speed_disk{
    width: 200px;
    border-radius: 100px;

}

#speed{
    font-size: 23px;
    margin: 15px;
}

.volume_class{
    float: right;
}

.volume_disk{
    width: 200px;
    border-radius: 100px;
}

#volume{
    font-size: 23px;
    margin: 15px;
}

.PlayButton{
    width: 130px;
    font-size: 25px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    
}